.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background-color: rgb(217, 217, 217);
    
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

h1 {
	text-align: center;
}

.question {
	margin-bottom: 20px;
}

h2 {
	margin-bottom: 10px;
}

label {
	display: block;
	margin-bottom: 5px;
}

#submit-btn {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#submit-btn:hover {
	background-color: #3e8e41;
}
